force-app/main/default/flows/Screen_Health_Status_Referral.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <dynamicChoiceSets>
        <name>heallthPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>General_Status__c</picklistField>
        <picklistObject>Health_Status_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screen Health Status Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Health Status Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>creare_referral</name>
        <label>creare referral</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <inputAssignments>
            <field>General_Status__c</field>
            <value>
                <elementReference>General_Health_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Current_Doctor_Do_Normally__c</field>
            <value>
                <elementReference>Is_Current_Doctor_Do_Normally</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mental_Status__c</field>
            <value>
                <elementReference>MentalStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>$User.Patient_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Condition__c</field>
            <value>
                <elementReference>Physical_Condition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tretment_Is_Helpful__c</field>
            <value>
                <elementReference>Tretment_Is_Helpful</elementReference>
            </value>
        </inputAssignments>
        <object>Health_Status_Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Fill_all_fields</name>
        <label>Fill all fields</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>creare_referral</targetReference>
        </connector>
        <fields>
            <name>General_Health_Status</name>
            <choiceReferences>heallthPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>General Health Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MentalStatus</name>
            <choiceReferences>heallthPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mental Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Physical_Condition</name>
            <choiceReferences>heallthPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Physical Condition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_Current_Doctor_Do_Normally</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Current Doctor Do Normally?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tretment_Is_Helpful</name>
            <dataType>Boolean</dataType>
            <fieldText>Tretment Is Helpful ?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Referral_Flow</name>
        <label>Referral Flow</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fill_all_fields</targetReference>
        </connector>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;To start submitting Health Status Referral click &apos;Next&apos;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textDisplay2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Thank you for your referral!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Referral_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
